In [2]:
import pandas as pd
import ast

#fin = pd.read_csv(r"financements.csv")
df = pd.read_csv(r"merged_df.csv")
soc = pd.read_csv(r"societes.csv")
funding = pd.read_csv(r"maddymoney_24-01 - 15-11.csv")
df_keywords = pd.read_csv(r'sources/add_mot_cles.csv')
df_ft = pd.read_csv(r"sources/frechtech full.csv")
financement = pd.read_csv(r"dash_app/assets/financements.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'merged_df.csv'

In [321]:
print(fin['Montant_def'].apply(type).value_counts())

<class 'float'>    14335
Name: Montant_def, dtype: int64

In [325]:
soc['date_creation_def'].value_counts()

2019-01-01    195
2020-01-01    190
2017-01-01    180
2021-01-01    173
2022-01-01    167
             ...
1998-09-28      1
2017-08-11      1
2006-06-01      1
1990-10-22      1
2000-06-08      1
Name: date_creation_def, Length: 2406, dtype: int64

In [322]:
fin['Montant_def'].sum()

16961066000.0

In [294]:
missing_siren.to_csv('missing_SIREN.csv')

In [285]:
financement['Montant_def'].sort_values(ascending=False)

17213      992000.0
10086    99100000.0
14883      990200.0
14854      990200.0
4762     99000000.0
            ...
19094           NaN
19095           NaN
19096           NaN
19098           NaN
19100           NaN
Name: Montant_def, Length: 19101, dtype: object

In [265]:
financement['Montant'].sum()

34970825600.0

In [241]:
df_ft

,logo,tw-line-clamp-3 href,nom,accessible-hide,description,tw-text-sm,item-list-column href,item-list-column,item-list-column href (2),item-list-column (2),...,item-list-column__item--secondary href (3),item-list-column__item--secondary (3),item-list-column__item--secondary href (4),item-list-column__item--secondary (4),markets-column,item-list-column href (14),item-list-column (14),funding-round-info,table-list-column (18),label-component (2)
0,https://storage.googleapis.com/dealroom-images...,https://ecosystem.lafrenchtech.com/companies/v...,Verkor,sustainable development goals,A company that promotes the deployment of rene...,97,https://ecosystem.lafrenchtech.com/companies/f...,B2B,https://ecosystem.lafrenchtech.com/companies/f...,energy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://storage.googleapis.com/dealroom-images...,https://ecosystem.lafrenchtech.com/companies/n...,Newcleo,sustainable development goals,"Developing a new industrial standard of clean,...",96,https://ecosystem.lafrenchtech.com/companies/f...,B2B,https://ecosystem.lafrenchtech.com/companies/f...,energy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://storage.googleapis.com/dealroom-images...,https://ecosystem.lafrenchtech.com/companies/h...,Hugging Face,NaN,An open-source and platform provider of machin...,96,https://ecosystem.lafrenchtech.com/companies/f...,B2B,https://ecosystem.lafrenchtech.com/companies/f...,media,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://storage.googleapis.com/dealroom-images...,https://ecosystem.lafrenchtech.com/companies/p...,Pigment,NaN,The business planning platform for forward-thi...,96,https://ecosystem.lafrenchtech.com/companies/f...,B2B,https://ecosystem.lafrenchtech.com/companies/f...,fintech,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://storage.googleapis.com/dealroom-images...,https://ecosystem.lafrenchtech.com/companies/b...,Bon Vivant,unverified company,A biotechnology company that uses precision fe...,95,https://ecosystem.lafrenchtech.com/companies/f...,B2C,https://ecosystem.lafrenchtech.com/companies/f...,food,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10101,https://storage.googleapis.com/dealroom-images...,France\toperational\tseed\t140\t-\tupdated Ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10102,https://storage.googleapis.com/dealroom-images...,France\toperational\tseed\t150\t-\tupdated Ja...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,https://storage.googleapis.com/dealroom-images...,cooking enthusiasts,or just food lovers Qcino allows anyone to: book,list,learn and discover new fascinating\t\t\thttps...,France\toperational\tseed\t0\t-\tupdated May ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10104,https://storage.googleapis.com/dealroom-images...,France\toperational\tseed\t50\t-\tupdated May...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10105,https://storage.googleapis.com/dealroom-images...,France\toperational\tseed\t200\t-\tupdated Ju...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
# Fusion des mots clés
mots_cles_cols = ['item-list-column (2)','item-list-column__item--secondary','item-list-column__item--secondary (2)','item-list-column (4)','item-list-column (5)','item-list-column (6)','item-list-column (7)','item-list-column (9)','item-list-column (10)','item-list-column (11)','item-list-column (12)','item-list-column (13)', 'accessible-hide (2)', 'item-list-column__item--secondary (3)','item-list-column__item--secondary (4)','item-list-column (14)','item-list-column (3)']
df_ft["mots_cles_ft"] = (
df_ft[mots_cles_cols]
.stack()
.groupby(level=0)
.agg(lambda x: list(set(sum((y if isinstance(y, list) else [y] for y in x.dropna()), []))))
)

In [243]:
# Suppression des colonnes inutiles
def col_drop(df, cols):
    existing_cols = [col for col in cols if col in df.columns]
    df.drop(columns=existing_cols, inplace=True, errors='ignore')

col_drop(df_ft, ["tw-line-clamp-3 href","tw-text-sm","item-list-column href","item-list-column href (2)","item-list-column href (3)","item-list-column__item--secondary href","item-list-column__item--secondary href (2)","item-list-column href (4)","item-list-column href (6)",'item-list-column href (5)','item-list-column href (7)'])
col_drop(df_ft, ["item-list-column href (9)",'item-list-column href (10)','item-list-column href (11)','item-list-column href (12)','item-list-column href (13)','item-list-column__item--secondary href (3)','item-list-column__item--secondary href (4)'])
col_drop(df_ft, ['item-list-column href (14)','growth-line-chart__value','growth-line-chart__label','table-list-column (6)','table-list-column (7)','growth-line-chart__value (4)','growth-line-chart__label (2)','accessible-hide'])
col_drop(df_ft, ['table-list-column (8)','delta','was','was (2)','was (3)','delta (2)','was (4)','was (5)','was (6)','markets-column','label-component (2)','table-list-column (18)','funding-round-info','secondary','table-list-column (16)','table-list-column (15)'])
col_drop(df_ft, ['entity-list-properties__item','entity-list-properties__item (2)','entity-list-properties__item (3)','table-list-column (11)','table-list-column (12)','table-list-column (13)','table-list-column (14)','table-list-column (4)','entity-list-properties__item (4)','table-list-column (5)','growth-line-chart__value (3)','table-list-column (9)','table-list-column (10)','table-list-column (17)'])

df_ft.drop(columns=mots_cles_cols, inplace=True)

In [244]:
df_ft.rename(columns={'item-list-column': 'market'}, inplace=True)
df_ft.rename(columns={'funding-round-cell-wrapper': 'dernier_financement'}, inplace=True)
df_ft.rename(columns={'table-list-column (3)': 'adresse'}, inplace=True)
df_ft.rename(columns={'growth-line-chart__value (2)': 'employees'}, inplace=True)
df_ft.rename(columns={'table-list-column': 'date de création'}, inplace=True)
df_ft.rename(columns={'valuation__value': 'valeur_entreprise'}, inplace=True)
df_ft.rename(columns={'table-list-column (2)': 'financement'}, inplace=True)

In [246]:
df_ft.to_csv('sources/frechtech full.csv', index=False)

In [248]:
df_ft['employees'].value_counts()

11-50 employees         3550
2-10 employees          1982
51-200 employees        1396
201-500 employees        306
1 employees              208
501-1000 employees       101
1001-5000 employees      101
-                         95
10001+ employees          32
5001-10000 employees      16
Name: employees, dtype: int64

In [164]:
df_ft

,logo,nom,accessible-hide,description,market,item-list-column (2),item-list-column (3),item-list-column__item--secondary,item-list-column__item--secondary (2),item-list-column (4),...,item-list-column (9),item-list-column (10),item-list-column (11),item-list-column (12),item-list-column (13),accessible-hide (2),secondary,item-list-column__item--secondary (3),item-list-column__item--secondary (4),item-list-column (14)
0,https://storage.googleapis.com/dealroom-images...,Verkor,sustainable development goals,A company that promotes the deployment of rene...,B2B,energy,transportation,vehicle production,energy storage,hardware,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://storage.googleapis.com/dealroom-images...,Newcleo,sustainable development goals,"Developing a new industrial standard of clean,...",B2B,energy,NaN,clean energy,NaN,deep tech,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://storage.googleapis.com/dealroom-images...,Hugging Face,NaN,An open-source and platform provider of machin...,B2B,media,enterprise software,NaN,NaN,natural language processing,...,advertising,commission,subscription,marketplace & ecommerce,saas,NaN,NaN,NaN,NaN,NaN
3,https://storage.googleapis.com/dealroom-images...,Pigment,NaN,The business planning platform for forward-thi...,B2B,fintech,enterprise software,financial management solutions,NaN,artificial intelligence,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://storage.googleapis.com/dealroom-images...,Bon Vivant,unverified company,A biotechnology company that uses precision fe...,B2C,food,NaN,innovative food,NaN,hardware,...,NaN,NaN,NaN,NaN,NaN,sustainable development goals,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10101,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10102,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,https://storage.googleapis.com/dealroom-images...,or just food lovers Qcino allows anyone to: book,list,learn and discover new fascinating\t\t\thttps...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10104,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10105,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:

# Fonction pour extraire la date d'une cellule
def extract_date(cell):
    # Si la cellule est une liste, on renvoie son premier élément
    if isinstance(cell, list):
        if len(cell) > 0:
            return cell[0]
        else:
            return None
    # Si la cellule est une chaîne qui ressemble à une liste, on tente de la convertir
    if isinstance(cell, str) and cell.startswith('[') and cell.endswith(']'):
        try:
            cell_list = ast.literal_eval(cell)
            if isinstance(cell_list, list) and len(cell_list) > 0:
                return cell_list[0]
        except Exception as e:
            pass
    return cell

# Appliquer l'extraction sur la colonne 'date_creation_def'
merged_df['date_creation_def'] = merged_df['date_creation_def'].apply(extract_date)

# Conversion en datetime
merged_df['date_creation_def'] = pd.to_datetime(merged_df['date_creation_def'], format='%Y-%m-%d', errors='coerce') # errors='coerce' convertit les valeurs incorrectes en NaT

# On ne recupère que l'année
#merged_df['date_creation_def'] = merged_df['date_creation_def'].dt.year

print(merged_df['date_creation_def'])

0       2012-11-01
1       2009-05-20
2       2009-03-31
3       2009-03-31
4              NaT
           ...
14595          NaT
14596          NaT
14597          NaT
14598          NaT
14599          NaT
Name: date_creation_def, Length: 14600, dtype: datetime64[ns]

In [257]:
merged_df['Effectif_def'].value_counts()

20 à 49 salariés           4213
3 à 5 salariés             2381
50 à 99 salariés           1691
10 à 19 salariés            677
1 ou 2 salariés             542
6 à 9 salariés              381
200 à 499 salariés          335
0 salarié                   151
100 à 199 salariés          122
500 à 999 salariés          114
1000 à 1999 salariés        109
5000 salariés ou plus        48
250 à 499 salariés           44
Effectif inconnu             33
10 000 salariés et plus       6
2000 à 4999 salariés          5
Name: Effectif_def, dtype: int64

In [107]:
merged_df['Date dernier financement'] = pd.to_datetime(merged_df['Date dernier financement'], format='%d.%m.%y') # errors='coerce' convertit les valeurs incorrectes en NaT

ValueError: time data '2018-01-05' does not match format '%d.%m.%y' (match)

In [94]:
merged_df

,nom,description,logo,Date dernier financement,Série,Montant,LinkedIn,Contact,Type d'organisme,SIREN,...,Tranche effectifs,market,employees,valeur_entreprise,financement,dernier_financement,mots_cles_def,site_web_def,adresse_def,date_creation_def
0,INVENTY,Inventy est une scale up de technologies innov...,https://upload.prd.hbd.cloud.bpifrance.fr/4826...,NaT,NaN,NaN,NaN,NaN,NaN,789612330,...,Non disponible,NaN,NaN,NaN,NaN,NaN,", B2B, Saas",['http://www.inventy.com/'],None,2012.0
1,360LEARNING,360Learning permet aux équipes Formation de pi...,https://upload.prd.hbd.cloud.bpifrance.fr/awsS...,NaT,NaN,NaN,NaN,NaN,NaN,512663733,...,32,NaN,NaN,NaN,NaN,NaN,", #MOOC, #Corporate Training, #Education, #Com...",['https://fr.360learning.com/'],None,2009.0
2,KLAXOON,Une suite unique de 10 outils de collaboration...,https://upload.prd.hbd.cloud.bpifrance.fr/08f8...,NaT,NaN,NaN,NaN,NaN,NaN,511962219,...,11,NaN,NaN,NaN,NaN,NaN,", #formation, #gestion de projet, #E-Learning,...",['https://klaxoon.com/fr/'],None,2009.0
3,KLAXOON,Klaxoon is an all-in-one work collaboration pl...,https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,511962219,...,11,NaN,NaN,NaN,NaN,NaN,"#Collaboration, #Productivité, #Engagement, #I...",['https://klaxoon.com/'],None,2009.0
4,WELCOME TO THE JUNGLE,Welcome to the Jungle est le média de référenc...,https://upload.prd.hbd.cloud.bpifrance.fr/star...,NaT,NaN,NaN,NaN,NaN,NaN,Non disponible,...,Non disponible,NaN,NaN,NaN,NaN,NaN,", #Human Resources, #Staffing Agency, #SaaS",['https://www.welcometothejungle.com/fr'],None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14595,ONWARD® MEDICAL,ONWARD® Medical is a medical technology compan...,https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"#MedTech, #Neuroscience, #Rehabilitation, #BCI",NaN,None,NaN
14596,SAVE YOUR WARDROBE,Save Your Wardrobe is a Fashion & Retail Tech ...,https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"#FashionTech, #CircularEconomy, #RetailTech, #...",NaN,None,NaN
14597,"TBM CO., LTD.",TBM is a unicorn startup from Japan and a pion...,https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"#Sustainability, #Recycling, #Materials, #Inno...",NaN,None,NaN
14598,WOVEN BY TOYOTA,Exploring new possibilities in the mobility of...,https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"#Mobilité, #Innovation, #Technologie, #Energie",NaN,None,NaN
14599,GLAFIT INC.,"We're one of Japan's few mobility startups, ha...",https://storageprdv2inwink.blob.core.windows.n...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"#Mobilité, #Électrique, #Innovation, #Japon",NaN,None,NaN

In [78]:
def col_drop(df, cols):
        existing_cols = [col for col in cols if col in df.columns]
        df.drop(columns=existing_cols, inplace=True, errors='ignore')

col_drop(df_keywords, ['Date dernier financement', 'Série', 'Montant', 'LinkedIn', 'Contact', 'Date de création_x', 'Marché', "Type d'organisme", 'SIREN', 'Activité principale', 'Tranche effectifs', 'market', 'employees', 'date de création', 'valeur_entreprise', 'financement', 'dernier_financement', 'mots_cles_def', 'site_web_def', 'adresse_def'])

In [79]:
df_keywords.to_csv('sources/add_mot_cles.csv', index=False)

In [76]:
df_keywords

,nom,description,logo,mots_cles
0,KLAXOON,Klaxoon is an all-in-one work collaboration pl...,https://storageprdv2inwink.blob.core.windows.n...,"#Collaboration, #Productivité, #Engagement, #I..."
1,PITCHY,Pitchy is a simplified online video editor for...,https://storageprdv2inwink.blob.core.windows.n...,"#VideoEditing, #Corporate, #AI, #ContentCreation"
2,CONTENTSQUARE,Contentsquare is a leading digital experience ...,https://storageprdv2inwink.blob.core.windows.n...,"#Analytics, #UX, #IA, #DigitalExperience"
3,BRAINCUBE,"Braincube offers innovative digital solutions,...",https://storageprdv2inwink.blob.core.windows.n...,"#IA, #Manufacturing, #Sustainability, #DataAna..."
4,DEEPOMATIC,Deepomatic is a pioneer in the field of First ...,https://storageprdv2inwink.blob.core.windows.n...,"#IA, #ComputerVision, #Automation, #Infrastruc..."
...,...,...,...,...
1538,NeoLeasy,"NeoLeasy, le leasing Neo & Easy",https://storage.googleapis.com/dealroom-images...,"#Leasing, #Automobile, #Fintech, #Mobilité"
1539,Oliver List,This company appears to be a lead generation a...,https://storage.googleapis.com/dealroom-images...,"#LeadGen, #B2B, #SalesTech, #Appointments"
1540,Orange Cyberdefense,Europe's leading go-to security services provi...,https://storage.googleapis.com/dealroom-images...,"#Cybersécurité, #Sécurité, #Digital, #Entreprise"
1541,Serensia,Digitalization and automation of administrativ...,https://storage.googleapis.com/dealroom-images...,"#Automatisation, #Comptabilité, #Digitalisatio..."
1542,Wavestone,Management and information systems consulting ...,https://storage.googleapis.com/dealroom-images...,"#Consulting, #Transformation, #Management, #IT"

In [62]:
funding

,hashtag,name,name_link,amount,investors
0,#energie,Elyse Energy,https://www.maddyness.com/entreprise/elyse-ene...,120.0 M€,"Hy24,, PGGM,, Bpifrance,, Mirova"
1,#biotech,Cilcare,https://www.maddyness.com/entreprise/cilcare/,21.0 M€,"Shionogi,, SPRIM Global Investments,, Sofilaro..."
2,#martech,Happydemics,https://www.maddyness.com/entreprise/happydemics/,13.0 M€,"Wille Finance AG,, Adélie Capital"
3,#medtech,Orakl Oncology,https://www.maddyness.com/entreprise/orakl-onc...,11.0 M€,"Singular,, SpeedInvest,, HCVC,, Verve Ventures"
4,#IT,Pathway,https://www.maddyness.com/entreprise/pathway/,9.4 M€,"TQ Ventures,, Kadmos Capital,, Inovo,, Market ..."
...,...,...,...,...,...
84,#medtech,Raidium,https://www.maddyness.com/entreprise/raidium/,16.0 M€,"Newfund Capital,, Kurma Partners,, Founders Fu..."
85,#greentech,Lactips,https://www.maddyness.com/entreprise/lactips/,16.0 M€,"Bpifrance,, Go Capital,, SWEN Capital Partners..."
86,#energie,Volta,https://www.maddyness.com/entreprise/volta/,6.0 M€,"Emblem,, Founders Future,, Robin Capital,, And..."
87,#medtech,Biolevate,https://www.maddyness.com/entreprise/biolevate/,6.0 M€,"Bpifrance,, EQT Ventures"
88,#biotech,Kapsera,https://www.maddyness.com/entreprise/kapsera/,4.2 M€,"Demeter Partners,, The Yield Lab,, Banque des..."

In [63]:
# Fusion en gardant uniquement les colonnes nécessaires et en supprimant 'name' après fusion
merged_df = pd.merge(merged_df, funding[['name', 'hashtag', 'amount']], 
                     left_on='nom', right_on='name', how='left').drop(columns=['name'])

merged_df['nom'] = merged_df['nom'].str.upper()

In [64]:
merged_df

,nom,description,logo,Date dernier financement,Série,Montant,LinkedIn,Contact,Type d'organisme,SIREN,...,employees,valeur_entreprise,financement,dernier_financement,mots_cles_def,site_web_def,adresse_def,date_creation_def,hashtag,amount
0,INVENTY,Inventy est une scale up de technologies innov...,https://upload.prd.hbd.cloud.bpifrance.fr/4826...,NaN,NaN,NaN,NaN,NaN,NaN,789612330,...,NaN,NaN,NaN,NaN,"['Saas', '', 'B2B']",['http://www.inventy.com/'],None,['2012-11-01'],NaN,NaN
1,360LEARNING,360Learning permet aux équipes Formation de pi...,https://upload.prd.hbd.cloud.bpifrance.fr/awsS...,NaN,NaN,NaN,NaN,NaN,NaN,512663733,...,NaN,NaN,NaN,NaN,"['', '#Communities', '#Education', '#Corporate...",['https://fr.360learning.com/'],None,['2009-05-20'],NaN,NaN
2,KLAXOON,Une suite unique de 10 outils de collaboration...,https://upload.prd.hbd.cloud.bpifrance.fr/08f8...,NaN,NaN,NaN,NaN,NaN,NaN,511962219,...,NaN,NaN,NaN,NaN,"['', '#réunion', '#formation', '#gestion de pr...",['https://klaxoon.com/fr/'],None,['2009-03-31'],NaN,NaN
3,KLAXOON,Klaxoon is an all-in-one work collaboration pl...,https://storageprdv2inwink.blob.core.windows.n...,NaN,NaN,NaN,NaN,NaN,NaN,511962219,...,NaN,NaN,NaN,NaN,NaN,['https://klaxoon.com/'],None,['2009-03-31'],NaN,NaN
4,WELCOME TO THE JUNGLE,Welcome to the Jungle est le média de référenc...,https://upload.prd.hbd.cloud.bpifrance.fr/star...,NaN,NaN,NaN,NaN,NaN,NaN,Non disponible,...,NaN,NaN,NaN,NaN,"['', '#Staffing Agency', '#SaaS', '#Human Reso...",['https://www.welcometothejungle.com/fr'],None,['Non disponible'],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14575,WEEZION,WEEZION is developing an innovative solution f...,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2-10 employees,NaN,-,NaN,"['commission', 'manufacturing', 'health', 'bio...",NaN,"Vergisson, France",['Sep 2020'],NaN,NaN
14576,WYND,wynd - Shipping done for you,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2-10 employees,NaN,-,NaN,"['logistics & delivery', 'commission', 'transp...",NaN,"Paris, France",['2014'],NaN,NaN
14577,YOUMAG,Youmag operates an online news portal in France.,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2-10 employees,€4—5m,€900k,€900k SEED,"['media', 'publishing', 'advertising']",NaN,"Paris, France",['Mar 2011'],NaN,NaN
14578,ÉDIFICE,Open Digital Education - Reinventing school wi...,https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51-200 employees,€40—60m,€12.0m,€10.0m LATE VC,"['education', 'education management', 'subscri...",NaN,"Paris, France",['2010'],NaN,NaN
14579,ŸNSECT,"Farms insects to make high-quality, premium na...",https://storage.googleapis.com/dealroom-images...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201-500 employees,€640—960m,€400m,€160m LATE VC,"['food', 'agritech', 'innovative food', 'selli...",NaN,"Paris, France",['Sep 2011'],NaN,NaN

In [66]:
merged_df.describe().T

,count,unique,top,freq
nom,14577,11408,PREDICTICE,80
description,14294,13681,Develops and applies a white thermo-reflective...,79
logo,14578,14146,https://upload.prd.hbd.cloud.bpifrance.fr/awsS...,78
Date dernier financement,1697,137,10.01.21,53
Série,1505,18,Amorçage,884
Montant,1697,298,1.0 M€,124
LinkedIn,166,140,Non disponible,26
Contact,431,431,BAISSUS Eric CEO,1
Type d'organisme,431,13,PME,348
SIREN,7694,3955,Non disponible,3010
Activité principale,7694,404,Non disponible,3010
Tranche effectifs,7694,16,Non disponible,4534
market,3363,2,B2B,2643
employees,3594,10,11-50 employees,1669
valeur_entreprise,2680,452,€8—12m,132
financement,3594,683,-,691
dernier_financement,3142,1067,N/A ACQUISITION,211
mots_cles_def,12934,5522,[],1729
site_web_def,9269,8468,['Site web non disponible'],260
adresse_def,14580,3134,None,6850
date_creation_def,11287,3249,['Non disponible'],2792
hashtag,44,20,#medtech,7
amount,44,30,3.0 M€,4

In [28]:
merged_df.dropna(subset=['description'], inplace=True)

In [29]:
mot_cles_openai = merged_df[merged_df['mots_cles_def'].isna()]

In [30]:
mot_cles_openai_clean = mot_cles_openai.drop_duplicates()

In [31]:
mot_cles_openai_clean.to_csv('mot_cles_openai_clean.csv', index=False)